
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
  padding-left: 11px;
  padding-right: 11px;

  @media (max-width: $tablet-width-only) {
    width: 95%;
    padding-left: 21px;
    padding-right: 21px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.article__small {
  margin-top: 62px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48.7%;

  @media (max-width: $tablet-width-only) {
    margin-top: 59px;
    margin-right: 0;
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 52px;
  }
}

.article__item {
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: $basic-pearl-bush;

  img {
    width: 20.95vw;
    height: 22vw;
    object-fit: cover;

    @media (max-width: $tablet-width-only) {
      width: 44.1vw;
      height: 39.1vw;
    }

    @media (max-width: $mobile-width-only) {
      width: 91vw;
      height: 80vw;
    }
  }

  picture {
    line-height: 0;
  }

  &--2 {
    .article__item-text {
      order: -1;
    }

    @media (max-width: $mobile-width-only) {
      .article__item-text {
        order: 1;
      }
    }
  }

  @media (max-width: $tablet-width-only) {
    margin-bottom: 50px;
    width: 98.6%;
    height: auto;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    margin-bottom: 40px;
    flex-direction: column;
    width: 96.4%;
    height: auto;
  }
}

.article__item:last-child {
  margin-bottom: 5px;
}

.article__item-text {
  margin-top: auto;
  margin-bottom: auto;
  padding: 25px;
  width: 20.8vw;

  time {
    @include reset-list;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    font-family: $font-basic;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $basic-bawn;
    text-align: center;
  }

  h3 {
    @include reset-list;
    margin: 0 auto;
    margin-top: 13px;
    width: 163px;
    display: flex;
    justify-content: center;
    font-family: $font-special;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      margin-top: 14px;
      padding-left: 0;
      width: 52vw;
    }
  }

  a {
    position: relative;
    @include reset-list;
    margin: 0 auto;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    font-family: $font-basic;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border-bottom: none;

    text-align: center;
    color: $basic-zeus;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &::before {
      position: absolute;
      bottom: -5px;
      right: auto;
      left: auto;
      content: "";
      width: 98px;
      height: 1px;
      background-color: $basic-muesli;

      @media (max-width: $mobile-width-only) {
        width: 30vw;
      }
    }

    @media (max-width: $mobile-width-only) {
      font-size: 16px;
    }
  }

  @media (max-width: $tablet-width-only) {
    padding: 75px 15px;
    width: 44.1vw;
  }

  @media (max-width: $mobile-width-only) {
    margin: auto;
    margin-top: 12vw;
    padding: 15px;
    padding-bottom: 55px;
    width: 60.1vw;
  }
}



.article__big {
  width: 48.4%;
  position: relative;
  margin-top: 62px;
  margin-right: 5px;

  img {
    width: 41.7vw;
    height: 46.1vw;
    @media (max-width: $tablet-width-only) {
      width: 44.1vw;
      height: 39.1vw;
    }

    @media (max-width: $mobile-width-only) {
      width: 91.1vw;
      height: 80vw;
    }
  }

  @media (max-width: $tablet-width-only) {
    position: inherit;
    margin-top: 45px;
    margin-right: 0;
    margin-left: 5px;
    display: flex;

    width: 98.6%;
    height: 39.1vw;
    background-color: $basic-pearl-bush;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    margin-top: 34px;
    flex-direction: column;
    width: 96.5%;
    height: 159.9vw;
  }

  .article__item-text {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 20.9vw;
    height: 22vw;
    background-color: $basic-pearl-bush;

    time {
      @include reset-list;
      margin-top: -43px;
      display: flex;
      justify-content: center;
      font-family: $font-basic;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      text-align: center;
      color: $basic-bawn;
    }

    h3 {
      @include reset-list;
      margin: 0 auto;
      margin-top: 13px;
      width: 163px;
      display: flex;
      justify-content: center;
      font-family: $font-special;
      font-size: 26px;
      line-height: 34px;
      font-weight: 600;
      text-align: center;
      color: $basic-black;
    }

    a {
      position: relative;
      @include reset-list;
      margin: 0 auto;
      margin-top: 38px;
      display: flex;
      justify-content: center;
      font-family: $font-basic;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      text-align: center;
      color: $basic-zeus;

      &:hover,
      &:focus {
        color: $basic-muesli;
      }

      &::before {
        position: absolute;
        bottom: -5px;
        right: auto;
        left: auto;
        content: "";
        width: 98px;
        height: 1px;
        background-color: $basic-muesli;

        @media (max-width: $mobile-width-only) {
          width: 30vw;
        }
      }

      @media (max-width: $mobile-width-only) {
        font-size: 16px;
      }
    }

    @media (max-width: $tablet-width-only) {
      position: inherit;
      margin: 0 auto;
      margin-top: 82px;
    }

    @media (max-width: $mobile-width-only) {
      width: 55.9vw;
      height: 36vw;
      margin-top: 102px;
    }
  }
}
