
.follow {
  padding: 40px 0 125px 0;


  @media (max-width: $tablet-width-only) {
    padding: 3px 0 75px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 52px 0 49px 0;
  }
}

.follow__wrapper {
  @include wrapper;
  padding: 0 7.2% 0 7.2%;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    padding: 0 5.7% 0 5.7%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 4.7% 0 4.7%;
  }

  h2 {
    @include reset-list;
    margin: 10px 0 31px 0;
    font-family: $font-special;
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: $basic-zeus;

    @media (max-width: $tablet-width-only) {
      margin: 8px 0 20px 0;
    }
  }

  a {
    @include reset-list;
    padding: 0 0 2px 0;
    font-family: $font-basic;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: $basic-zeus;
    border-bottom: 1px solid $basic-muesli;
  }
}

.follow__list {
  @include reset-list;
  padding: 64px 0 0 0;
  display: grid;
  grid-template-columns: 19.66% 34.19% 19.83% 19.83%;
  grid-template-rows: min-content;
  gap: 0 2.56%;
  grid-template-areas: "follow__item--first follow__item--second follow__item--third follow__item--third";

  @media (max-width: $tablet-width-only) {
    padding: 63px 0 0 0;
    gap: 0 18px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 50px 0 20px 0;
    grid-template-columns: 44.83% 50%;
    grid-template-rows: 64.09% 31.77%;
    gap: 9px 15px;
    grid-template-areas:
      "follow__item--first follow__item--second"
      "follow__item--third follow__item--third";
  }
}


.follow__item--first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: follow__item--first;

  img {
    background-color: $basic-muesli;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: -5px;
  }
}

.follow__item--second {
  grid-area: follow__item--second;
  grid-template-columns: 100%;
  grid-template-rows: min-content;

  img {
    background-color: $basic-muesli;
  }
}

.follow__item--third {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 1fr;
  gap: 0 16px;
  text-align: left;

  img {
    background-color: $basic-muesli;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: follow__item--third;
    text-align: center;
  }
}

.follow-item__wrapper-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
  }

  @media (max-width: 320px) {
    align-items: flex-start;
  }

}

.follow-item__wrapper-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.follow__image--first {
  @media (max-width: $mobile-width-only) {
    margin-bottom: -5px;
    text-align: right;
    order: 2;
  }
}

.follow__image--third {
  @media (max-width: $tablet-width-only) {
    padding: 9px 9px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 8px 14px 0 0;
    margin-bottom: -5px;
  }
}

.follow__image--second {
  text-align: right;

  @media (max-width: $tablet-width-only) {
    padding: 0 9px 9px 0;
  }
}

.follow__image--fourth {
  @media (max-width: $tablet-width-only) {
    img {
      margin: 0 0 0 -9px;
    }
  }
}
