.modal {
  z-index: 4;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);

  &--nojs {
    display: block;
  }
}

.modal__close {
  position: absolute;
  top: 13px;
  right: 15px;
  padding: 5px;

  @media (max-width: $tablet-width-only) {
    svg{
      width: 20px;
      height: 20px;
    }

    &--cart {
      width: 14px;
      height: 14px;
    }
  }

  @media (max-width: $mobile-width-only) {
    top: 8px;
    right: 10px;

    svg{
      width: 14px;
      height: 14px;
    }

    &--cart {
      top: 16px;
    }
  }
}

.modal-show {
  position: fixed;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  display: block;  
}

.modal-open {
  &--cart {
    span {
      margin-left: 3px;
    }
  }
}
