.pagination {
  @include reset-list;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 48px 0 16px 0;

  &--main-card {
    margin-left: 0;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: -10px;
    margin-left: 1px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -23px;
  }
}

.pagination__item {
  @include reset-list;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  font-family: $font-basic;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;  
  text-align: center;
  color: $basic-zeus;

  @media (max-width: $tablet-width-only) {
    padding: 6px 6.5px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
    padding: 6px 5px;
    color: $basic-zeus;
  }

  &--active {
    display: block;
    color: $basic-zeus;
    opacity: 0.7;
  }

  &--last-child {
    display: none;

    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }

  &--span {
    display: none;

    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }
}

.pagination-catalog {
  padding: 51px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  @media (max-width: $tablet-width-only) {
    padding: 49px 0 20px 0;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    padding: 21px 0 12px;
  }

  .pagination-catalog__list {
    @include reset-list;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pagination-catalog__link {
    font-family: $font-basic;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: $basic-black;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &--left {
      cursor: default;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  .pagination-catalog__list {
    padding: 0 36px 0 0;

    @media (max-width: $mobile-width-only) {
      padding: 0;
    }
  }

  .pagination-catalog__item {
    margin: 0 5px 0 8px;
    display: block;

    a {
      font-family: $font-basic;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      color: $basic-bawn;
  
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  
    &--active {
      a {
        color: $basic-black;
      }
    }

    @media (max-width: $mobile-width-only) {
      margin: 0 12px 0 11px;
    }
  }
}
