@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin wrapper {
  max-width: $wrapper-max;
  min-width: $desktop;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    max-width: $tablet-width-only;
    min-width: $mobile-width-only;
  }

  @media (max-width: $mobile-width-only) {
    max-width: $mobile-width-only;
    min-width: $wrapper-min;
  }
}
