$font-basic: "Poppins", "Tahoma", "Geneva", sans-serif;
$font-special: "Cormorant Garamond", "Palatino Linotype", "Book Antiqua", serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;


$mobile-width-only: 767px;
$tablet-width-only: 1023px;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-zeus: #1d1613;
$basic-muesli: #a87b62;
$basic-bawn: #9b9997;
$basic-desert-storm: #f6f5f4;
$basic-mercury: #e5e5e5;

